ESPHOME_USERNAME=             # Select your Username
ESPHOME_PASSWORD=             # Unique and strong password
MARIADB_PASSWORD=             # Unique and strong password
MARIADB_DATABASE=             # Database name
MEALIE_URL=                   # Your domain (incl. subdomain)
HOMEPAGE_PORT=3000            # Specify another port if wanted
MEALIE_PORT=9925              # Specify another port if wanted
QBIT_PORT=8080                # Specify another port if wanted
NEXTCLOUDPORT=8181            # Specify another port if wanted


