###
# The following variables can be used to provide homepage with tokens/credentials to your services. 
# Visit gethomepage.dev for info on more supported services
# You have to adapt the services.yaml of your homepage to then use those variables
###
HOMEPAGE_VAR_ADGUARD_USERNAME=
HOMEPAGE_VAR_ADGUARD_PASSWORD=
HOMEPAGE_VAR_ABS_API_KEY=
HOMEPAGE_VAR_HASS_KEY=
HOMEPAGE_VAR_JELLYFIN_API_KEY=
HOMEPAGE_VAR_MEALIE_API_KEY=
HOMEPAGE_VAR_QBIT_USERNAME=
HOMEPAGE_VAR_QBIT_PASSWORD=
